# Clojure / Java
target/
.cpcache/
out/
hs_err_pid*.log
.nrepl-port

# IDE / Editors
.idea/
*.iml
.vscode/

# Node / Playwright
node_modules/
playwright-report/
playwright-artifacts/
test-results/
*.log

# OS noise
Thumbs.db
desktop.ini
.DS_Store

# Env files (keep .env.example tracked)
.env

# Optional tools
.clj-kondo/
.lsp/

# Optional: ignore lock if you don't use it
deps.edn.lock