{:id 1, :name "Title should be: Owl Buddy", :ok true, :actual-title "Owl Buddy", :duration-ms 99, :ended "2025-08-13T16:30:08.360062800Z", :started "2025-08-13T16:30:08.260018Z", :test-id "001-Title-should-be:-Owl-Buddy", :url "https://frankw42.github.io/public/index.html"}
{:id 2, :name "Upload:resources/owlBuddycloudinary.json", :ok true, :dom-file-name "owlBuddycloudinary.json", :duration-ms 182, :ended "2025-08-13T16:30:09.576565600Z", :path "resources/owlBuddycloudinary.json", :started "2025-08-13T16:30:09.394026100Z", :step :upload-test-step, :test-id "002-Upload:resources/owlBuddycloudinary.json", :url "https://frankw42.github.io/public/index.html"}
{:id 3, :name "Start flipbook animation", :ok true, :duration-ms 1415, :ended "2025-08-13T16:30:12.011696600Z", :started "2025-08-13T16:30:10.595791600Z", :test-id "003-Start-flipbook-animation", :url "https://frankw42.github.io/public/index.html"}
{:id 4, :name "Stop flipbook animation", :ok true, :duration-ms 107, :ended "2025-08-13T16:30:15.129058Z", :started "2025-08-13T16:30:15.020945400Z", :test-id "004-Stop-flipbook-animation", :url "https://frankw42.github.io/public/index.html"}
{:id 5, :name "Download-test", :ok true, :download-path "C:\\Users\\frankw\\Downloads\\1-downloadFile-2025-08-13T16-30-23.143171400Z.txt", :duration-ms 1512, :ended "2025-08-13T16:30:24.654669800Z", :note nil, :started "2025-08-13T16:30:23.142149400Z", :step :download-test-step, :test-id "005-Download-test", :url "https://frankw42.github.io/public/index.html"}
{:id 6, :name "Select image by category", :ok true, :action "dropdown-select-handle", :duration-ms 751, :ended "2025-08-13T16:30:25.413678900Z", :open "#jqxImageQuery", :option "#listitem0innerListBoxjqxImageQuery", :panel "#dropdownlistContentjqxImageQuery", :started "2025-08-13T16:30:24.662465400Z", :test-id "006-Select-image-by-category", :url "https://frankw42.github.io/public/index.html"}
{:id 7, :name "Select image by category", :ok true, :action "dropdown-select-handle", :duration-ms 686, :ended "2025-08-13T16:30:27.112039200Z", :open "#jqxImageQuery", :option "#listitem1innerListBoxjqxImageQuery", :panel "#dropdownlistContentjqxImageQuery", :started "2025-08-13T16:30:26.425792800Z", :test-id "007-Select-image-by-category", :url "https://frankw42.github.io/public/index.html"}
{:id 8, :name "Select image by category", :ok true, :action "dropdown-select-handle", :duration-ms 636, :ended "2025-08-13T16:30:28.762310100Z", :open "#jqxImageQuery", :option "#listitem2innerListBoxjqxImageQuery", :panel "#dropdownlistContentjqxImageQuery", :started "2025-08-13T16:30:28.125628Z", :test-id "008-Select-image-by-category", :url "https://frankw42.github.io/public/index.html"}
{:id 9, :name "Select image by category", :ok true, :action "dropdown-select-handle", :duration-ms 679, :ended "2025-08-13T16:30:30.459182200Z", :open "#jqxImageQuery", :option "#listitem3innerListBoxjqxImageQuery", :panel "#dropdownlistContentjqxImageQuery", :started "2025-08-13T16:30:29.779218Z", :test-id "009-Select-image-by-category", :url "https://frankw42.github.io/public/index.html"}
{:id 10, :name "Select music track by category", :ok true, :action "dropdown-select-handle", :duration-ms 621, :ended "2025-08-13T16:30:32.088628900Z", :open "#jqxMusicQuery", :option "#listitem0innerListBoxjqxMusicQuery", :panel "#dropdownlistContentjqxMusicQuery", :started "2025-08-13T16:30:31.466628600Z", :test-id "010-Select-music-track-by-category", :url "https://frankw42.github.io/public/index.html"}
{:id 11, :name "Start flipbook animation", :ok true, :duration-ms 117, :ended "2025-08-13T16:30:36.212967900Z", :started "2025-08-13T16:30:36.095167800Z", :test-id "011-Start-flipbook-animation", :url "https://frankw42.github.io/public/index.html"}
{:id 12, :name "Stop flipbook animation", :ok true, :duration-ms 116, :ended "2025-08-13T16:30:39.343682600Z", :started "2025-08-13T16:30:39.227020900Z", :test-id "012-Stop-flipbook-animation", :url "https://frankw42.github.io/public/index.html"}
{:id 13, :name "Show Info panel", :ok true, :duration-ms 91, :ended "2025-08-13T16:30:47.440173600Z", :started "2025-08-13T16:30:47.349101300Z", :test-id "013-Show-Info-panel", :url "https://frankw42.github.io/public/index.html"}
{:id 14, :name "Hide Info panel", :ok true, :duration-ms 60, :ended "2025-08-13T16:30:51.508499500Z", :started "2025-08-13T16:30:51.447849100Z", :test-id "014-Hide-Info-panel", :url "https://frankw42.github.io/public/index.html"}
{:id 15, :name "Download-test", :ok true, :download-path "C:\\Users\\frankw\\Downloads\\2-downloadFile-2025-08-13T16-30-53.513082Z.txt", :duration-ms 272, :ended "2025-08-13T16:30:53.785587900Z", :note nil, :started "2025-08-13T16:30:53.513082Z", :step :download-test-step, :test-id "015-Download-test", :url "https://frankw42.github.io/public/index.html"}
{:id 16, :name "Start flipbook animation", :ok true, :action "click-handle", :duration-ms 136, :ended "2025-08-13T16:30:55.927317800Z", :selector "#blink-button", :started "2025-08-13T16:30:55.791188400Z", :test-id "016-Start-flipbook-animation", :url "https://frankw42.github.io/public/index.html"}
{:id 17, :name "Start tilt animation", :ok true, :action "click-handle", :duration-ms 177, :ended "2025-08-13T16:30:58.113611300Z", :selector "#tilt-button", :started "2025-08-13T16:30:57.935856200Z", :test-id "017-Start-tilt-animation", :url "https://frankw42.github.io/public/index.html"}
{:id 18, :name "Select image by category", :ok true, :action "dropdown-select-handle", :duration-ms 642, :ended "2025-08-13T16:31:00.781643400Z", :open "#jqxImageQuery", :option "#listitem0innerListBoxjqxImageQuery", :panel "#dropdownlistContentjqxImageQuery", :started "2025-08-13T16:31:00.138272600Z", :test-id "018-Select-image-by-category", :url "https://frankw42.github.io/public/index.html"}
{:id 19, :name "Select image by category", :ok true, :action "dropdown-select-handle", :duration-ms 716, :ended "2025-08-13T16:31:02.513979400Z", :open "#jqxImageQuery", :option "#listitem1innerListBoxjqxImageQuery", :panel "#dropdownlistContentjqxImageQuery", :started "2025-08-13T16:31:01.797548200Z", :test-id "019-Select-image-by-category", :url "https://frankw42.github.io/public/index.html"}
{:id 20, :name "Select image by category", :ok true, :action "dropdown-select-handle", :duration-ms 699, :ended "2025-08-13T16:31:04.232784100Z", :open "#jqxImageQuery", :option "#listitem2innerListBoxjqxImageQuery", :panel "#dropdownlistContentjqxImageQuery", :started "2025-08-13T16:31:03.533234400Z", :test-id "020-Select-image-by-category", :url "https://frankw42.github.io/public/index.html"}
{:id 21, :name "Select image by category", :ok true, :action "dropdown-select-handle", :duration-ms 687, :ended "2025-08-13T16:31:05.931281Z", :open "#jqxImageQuery", :option "#listitem3innerListBoxjqxImageQuery", :panel "#dropdownlistContentjqxImageQuery", :started "2025-08-13T16:31:05.243508100Z", :test-id "021-Select-image-by-category", :url "https://frankw42.github.io/public/index.html"}
{:id 22, :name "Select music by category", :ok true, :action "dropdown-select-handle", :duration-ms 636, :ended "2025-08-13T16:31:07.576202500Z", :open "#jqxMusicQuery", :option "#listitem0innerListBoxjqxMusicQuery", :panel "#dropdownlistContentjqxMusicQuery", :started "2025-08-13T16:31:06.938695300Z", :test-id "022-Select-music-by-category", :url "https://frankw42.github.io/public/index.html"}
{:id 23, :name "Select music by category", :ok true, :action "dropdown-select-handle", :duration-ms 693, :ended "2025-08-13T16:31:16.276617400Z", :open "#jqxMusicQuery", :option "#listitem1innerListBoxjqxMusicQuery", :panel "#dropdownlistContentjqxMusicQuery", :started "2025-08-13T16:31:15.583250500Z", :test-id "023-Select-music-by-category", :url "https://frankw42.github.io/public/index.html"}
{:id 24, :name "Select music by category", :ok true, :action "dropdown-select-handle", :duration-ms 681, :ended "2025-08-13T16:31:24.982954700Z", :open "#jqxMusicQuery", :option "#listitem2innerListBoxjqxMusicQuery", :panel "#dropdownlistContentjqxMusicQuery", :started "2025-08-13T16:31:24.301183800Z", :test-id "024-Select-music-by-category", :url "https://frankw42.github.io/public/index.html"}
