{:id 1, :name "Title should be: Owl Buddy", :ok true, :actual-title "Owl Buddy", :duration-ms 107, :ended "2025-09-09T03:12:44.935688627Z", :started "2025-09-09T03:12:44.828266731Z", :test-id "001-Title-should-be:-Owl-Buddy", :url "https://frankw42.github.io/public/index.html"}
{:id 2, :name "Upload:resources/owlBuddycloudinary.json", :ok true, :dom-file-name "upload-14814069824081792915-owlBuddycloudinary.json", :duration-ms 197, :ended "2025-09-09T03:12:46.202847837Z", :path "resources/owlBuddycloudinary.json", :started "2025-09-09T03:12:46.005308999Z", :step :upload-test-step, :test-id "002-Upload:resources/owlBuddycloudinary.json", :url "https://frankw42.github.io/public/index.html"}
{:id 3, :name "Start flipbook animation", :ok true, :action :click, :duration-ms 2618, :ended "2025-09-09T03:12:50.926375598Z", :key "#blink-button", :label "Blink", :started "2025-09-09T03:12:48.308358278Z", :test-id "003-Start-flipbook-animation", :url "https://frankw42.github.io/public/index.html"}
{:id 4, :name "Stop flipbook animation", :ok true, :action :click, :duration-ms 7424, :ended "2025-09-09T03:13:03.396645325Z", :key "#blink-button", :label "Blink", :started "2025-09-09T03:12:55.972353956Z", :test-id "004-Stop-flipbook-animation", :url "https://frankw42.github.io/public/index.html"}
{:id 5, :name "Download-test", :ok true, :download-path "/root/Downloads/1-downloadFile-2025-09-09T03-13-11.430578210Z.txt", :duration-ms 98, :ended "2025-09-09T03:13:11.528730105Z", :note nil, :started "2025-09-09T03:13:11.430146426Z", :step :download-test-step, :test-id "005-Download-test", :url "https://frankw42.github.io/public/index.html"}
{:id 6, :name "Select image by category", :ok true, :action "dropdown-select-handle", :duration-ms 654, :ended "2025-09-09T03:13:12.211082134Z", :open "#jqxImageQuery", :option "#listitem0innerListBoxjqxImageQuery", :panel "#dropdownlistContentjqxImageQuery", :started "2025-09-09T03:13:11.556642098Z", :test-id "006-Select-image-by-category", :url "https://frankw42.github.io/public/index.html"}
{:id 7, :name "Select image by category", :ok true, :action "dropdown-select-handle", :duration-ms 581, :ended "2025-09-09T03:13:13.827305249Z", :open "#jqxImageQuery", :option "#listitem1innerListBoxjqxImageQuery", :panel "#dropdownlistContentjqxImageQuery", :started "2025-09-09T03:13:13.245973368Z", :test-id "007-Select-image-by-category", :url "https://frankw42.github.io/public/index.html"}
{:id 8, :name "Select image by category", :ok true, :action "dropdown-select-handle", :duration-ms 618, :ended "2025-09-09T03:13:15.467153872Z", :open "#jqxImageQuery", :option "#listitem2innerListBoxjqxImageQuery", :panel "#dropdownlistContentjqxImageQuery", :started "2025-09-09T03:13:14.848973370Z", :test-id "008-Select-image-by-category", :url "https://frankw42.github.io/public/index.html"}
{:id 9, :name "Select image by category", :ok true, :action "dropdown-select-handle", :duration-ms 578, :ended "2025-09-09T03:13:17.068899293Z", :open "#jqxImageQuery", :option "#listitem3innerListBoxjqxImageQuery", :panel "#dropdownlistContentjqxImageQuery", :started "2025-09-09T03:13:16.490453121Z", :test-id "009-Select-image-by-category", :url "https://frankw42.github.io/public/index.html"}
{:id 10, :name "Select music track by category", :ok true, :action "dropdown-select-handle", :duration-ms 584, :ended "2025-09-09T03:13:19.836043021Z", :open "#jqxMusicQuery", :option "#listitem0innerListBoxjqxMusicQuery", :panel "#dropdownlistContentjqxMusicQuery", :started "2025-09-09T03:13:19.251278468Z", :test-id "010-Select-music-track-by-category", :url "https://frankw42.github.io/public/index.html"}
{:id 11, :name "Start flipbook animation", :ok true, :action :click, :duration-ms 125, :ended "2025-09-09T03:13:23.986365195Z", :key "#blink-button", :label "Blink", :started "2025-09-09T03:13:23.861169342Z", :test-id "011-Start-flipbook-animation", :url "https://frankw42.github.io/public/index.html"}
{:id 12, :name "Stop flipbook animation", :ok true, :action :click, :duration-ms 130, :ended "2025-09-09T03:13:27.149700705Z", :key "#blink-button", :label "Blink", :started "2025-09-09T03:13:27.019334405Z", :test-id "012-Stop-flipbook-animation", :url "https://frankw42.github.io/public/index.html"}
{:id 13, :name "Show Info panel", :ok true, :action :click, :duration-ms 88, :ended "2025-09-09T03:13:35.268966958Z", :key "#info-button", :label "", :started "2025-09-09T03:13:35.180958707Z", :test-id "013-Show-Info-panel", :url "https://frankw42.github.io/public/index.html"}
{:id 14, :name "Hide Info panel", :ok true, :action :click, :duration-ms 86, :ended "2025-09-09T03:13:39.384849337Z", :key "#info-button", :label "", :started "2025-09-09T03:13:39.298141635Z", :test-id "014-Hide-Info-panel", :url "https://frankw42.github.io/public/index.html"}
{:id 15, :name "Download-test", :ok true, :download-path "/root/Downloads/2-downloadFile-2025-09-09T03-13-41.404557704Z.txt", :duration-ms 88, :ended "2025-09-09T03:13:41.492827548Z", :note nil, :started "2025-09-09T03:13:41.404478526Z", :step :download-test-step, :test-id "015-Download-test", :url "https://frankw42.github.io/public/index.html"}
{:id 16, :name "Start flipbook animation", :ok true, :action "click-handle", :duration-ms 115, :ended "2025-09-09T03:13:43.642351805Z", :selector "#blink-button", :started "2025-09-09T03:13:43.527140293Z", :test-id "016-Start-flipbook-animation", :url "https://frankw42.github.io/public/index.html"}
{:id 17, :name "Start tilt animation", :ok true, :action "click-handle", :duration-ms 124, :ended "2025-09-09T03:13:45.788809581Z", :selector "#tilt-button", :started "2025-09-09T03:13:45.664272282Z", :test-id "017-Start-tilt-animation", :url "https://frankw42.github.io/public/index.html"}
{:id 18, :name "Select image by category", :ok true, :action "dropdown-select-handle", :duration-ms 678, :ended "2025-09-09T03:13:48.492428134Z", :open "#jqxImageQuery", :option "#listitem0innerListBoxjqxImageQuery", :panel "#dropdownlistContentjqxImageQuery", :started "2025-09-09T03:13:47.813680613Z", :test-id "018-Select-image-by-category", :url "https://frankw42.github.io/public/index.html"}
{:id 19, :name "Select image by category", :ok true, :action "dropdown-select-handle", :duration-ms 676, :ended "2025-09-09T03:13:51.279909633Z", :open "#jqxImageQuery", :option "#listitem1innerListBoxjqxImageQuery", :panel "#dropdownlistContentjqxImageQuery", :started "2025-09-09T03:13:50.603675073Z", :test-id "019-Select-image-by-category", :url "https://frankw42.github.io/public/index.html"}
{:id 20, :name "Select image by category", :ok true, :action "dropdown-select-handle", :duration-ms 670, :ended "2025-09-09T03:13:52.978319543Z", :open "#jqxImageQuery", :option "#listitem2innerListBoxjqxImageQuery", :panel "#dropdownlistContentjqxImageQuery", :started "2025-09-09T03:13:52.307676471Z", :test-id "020-Select-image-by-category", :url "https://frankw42.github.io/public/index.html"}
{:id 21, :name "Select image by category", :ok true, :action "dropdown-select-handle", :duration-ms 678, :ended "2025-09-09T03:13:54.685198619Z", :open "#jqxImageQuery", :option "#listitem3innerListBoxjqxImageQuery", :panel "#dropdownlistContentjqxImageQuery", :started "2025-09-09T03:13:54.006260583Z", :test-id "021-Select-image-by-category", :url "https://frankw42.github.io/public/index.html"}
{:id 22, :name "Select music by category", :ok true, :action "dropdown-select-handle", :duration-ms 903, :ended "2025-09-09T03:13:56.616977906Z", :open "#jqxMusicQuery", :option "#listitem0innerListBoxjqxMusicQuery", :panel "#dropdownlistContentjqxMusicQuery", :started "2025-09-09T03:13:55.713379009Z", :test-id "022-Select-music-by-category", :url "https://frankw42.github.io/public/index.html"}
{:id 23, :name "Select music by category", :ok true, :action "dropdown-select-handle", :duration-ms 653, :ended "2025-09-09T03:14:05.299598626Z", :open "#jqxMusicQuery", :option "#listitem1innerListBoxjqxMusicQuery", :panel "#dropdownlistContentjqxMusicQuery", :started "2025-09-09T03:14:04.646347685Z", :test-id "023-Select-music-by-category", :url "https://frankw42.github.io/public/index.html"}
{:id 24, :name "Select music by category", :ok true, :action "dropdown-select-handle", :duration-ms 651, :ended "2025-09-09T03:14:13.974690179Z", :open "#jqxMusicQuery", :option "#listitem2innerListBoxjqxMusicQuery", :panel "#dropdownlistContentjqxMusicQuery", :started "2025-09-09T03:14:13.323501280Z", :test-id "024-Select-music-by-category", :url "https://frankw42.github.io/public/index.html"}
